.idea/
.D30-HectorDA.iml
conf-example/config.toml
D30-HectorDA.iml
conf-example/server.log
hector
hector.exe
hector_presto.exe

conf-example/*.log
conf-example/log/server.log
conf-example/metadata/alltrade/alltrade.json